body {
  background: black;
  color: white;
  font-family: sans-serif;

  display: flex;
  text-transform: uppercase;
}

a {
  color: white;
}

.spacer {
  margin-bottom: 5rem;
}

.striked {
  text-decoration: line-through;
}

.btn {
  font-size: 1em;
  background: white;
  color: black;
  display: inline-block;
  padding: 0.5em 1em;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0.5em 0.5em 0 0;
}

.main-content {
  position: relative;
  margin: auto;
  z-index: 0;
  padding: 2rem 0 5rem;
}

.site-header {
  padding: 32vh 0;
}

.bg-layers {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.25;
  z-index: 0;
  pointer-events: none;

  .bg-white {
    background: white;
  }

  .bg-layer-1 {
    animation: rotating 180s linear infinite;
  }

  .bg-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    object-fit: cover;
    mix-blend-mode: difference;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
